<div class="container-fluid bg-dark pb-4">
  <div class="text-center"> 
      <h2 class="text-white mb-3">Subastas</h2>
      <div class="alert text-white mb-3 alert-expand-lg bg-dark"> 
      <%= notice%>
      </div>
  </div>
  <div class="row">
    <table style="table", class="table table-dark">
      <thead>
        <tr>
          <th width "80%"> Residencia</th>
          <th width "80%"> Semana</th>
          <th width "80%"> Precio Base</th>
          <th width "80%"> Fecha de Inicio</th>

          <th colspan="4"> </th>
        </tr>
      </thead>
      <tbody>
      <% @residences.each do |residence| %>
        <% residence.weeks.each do |week| %>
          <tr>
          <% if (week.sale != nil) && (week.sale.fechaInicio == Date.today) && (week.status_id != 2)%>
            <td> <%= Residence.find(week.residence_id).title%> </td>
            <td><%= week.period %> </td>
            <td><%= week.sale.precioBase %> </td>
            <td><%= week.sale.fechaInicio %> </td>
            <td><%= link_to "Iniciar", edit_week_path(week), class: 'btn btn-primary'%> </td>
          <% end %>
          </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
  </div>
  <br><br><br>
</div>