<div class="container-fluid bg-dark pb-4">
	<div class="text-center"> 
	      <h2 class="text-white mb-3">Configurar semanas de la residencia: <%= Residence.find(@week.residence_id).title %></h2>
	</div>
	<div class="container mb-5">

		<%= form_for ([@residence, @residence.weeks.build]) do |f| %>
			<div id="sandbox-container">
				<%= f.text_field :period, "data-provide" => 'datepicker',required: true %>
			</div>
			<script type="text/javascript">
				$('#sandbox-container input').datepicker({
    				startDate: '+7m',
    				endDate: '+8m',
				    language: "es",
				    orientation: "bottom left",
				    calendarWeeks: true,
				    autoclose: true
				});
			</script>
			<div class="col-4">
				<h5><%= f.label :status_id,"Estado",class: 'text-white mb-1'%></h5>
				<%=f.collection_select :status_id, Status.all, :id, :name, {}, class: 'form-control mb-3', required: true  %>
			</div>
			<%= f.submit "Guardar", class: 'btn btn-primary btn' %> 
		<%end%>
	</div>
</div>