<% if (user_signed_in?) %>
<% if current_user.id == @usuario.id %>
<div class="container-fluid bg-dark pb-4">
  <div class="text-center">
    <h2 class="text-white mb-3">Reservas actuales</h2>
  </div>
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>#</th>
          <th> Residencia</th>
          <th> Semana</th>
          <th class="text-center"> Acciones </th>
        </tr>
      </thead>
      <tbody>
      <% if (current_user.user_type_id == 2)  || (current_user.user_type_id == 3)%>
        <% if (@week1 != nil) %>
            <tr>
            <td>1</td>
              <% r1 = Residence.find(@week1.residence_id) %>
              <td><%= r1.title%></td>
              <td><%= @week1.period.strftime('%d/%m/%Y') %></td>

              <td class="text-center"><%= link_to "Ver residencia", residence_path(r1.id), class: 'btn btn-info btn-primary mr-2'%>
              <% if (@week1.period > Date.today) %>
                <%= link_to "Cancelar reserva", week_cancel_path(@week1), class: 'btn btn-info btn-danger'%>
              <% end %>   
            </td>
            
            </tr>
        <% else %>
          <tr>
            <td>1</td>
            <td> -   -   - </td>
            <td> -   -   - </td>
            <td class="text-center"> Credito disponible</td>
          </tr>
        <% end %>
        <% if (@week2 != nil) %>
          <tr>
          <td>2</td>
            <% r2 = Residence.find(@week2.residence_id) %>
            <td><%= r2.title%></td>
            <td><%= @week2.period.strftime('%d/%m/%Y') %></td>
            
            <td class="text-center"><%= link_to "Ver residencia", residence_path(r2.id), class: 'btn btn-info btn-primary mr-2'%>
            <% if (@week2.period > Date.today) %>
              <%= link_to "Cancelar reserva", week_cancel_path(@week2), class: 'btn btn-info btn-danger'%> 
            <% end %>  
            </td>
            
          </tr>
        <% else %>
          <tr>
            <td>2</td>
            <td> -   -   - </td>
            <td> -   -   - </td>
            <td class="text-center"> Credito disponible</td>
          </tr>
        <% end %>
       <% end %>

      </tbody>
    </table>
  </div>

  <br><br><br>

  <button class="btn btn-block btn-light col-4 offset-4 mt-3"> <%= link_to "Volver", :back %>
</button>

</div>
<%end%>
<% else %>
<div class='text-white mb-3 text-center'>
  <h3> Upss...No puedes estar aqui, mejor regresa </h3>
  </div>

<button class="btn btn-lg btn-block btn-white col-2 offset-5 mt-3"><%= link_to "Volver", :back %></button>
<%end%>