<% if (user_signed_in?) && (((@usuario.id == current_user.id) || (current_user.user_type_id ==1)) || (current_user.user_type_id == 4)) %>
<div class="container-fluid bg-dark pb-4">
	<div class="text-center">
	<div class="bg-dark"><br /></div>

			<h2 class="text-white mb-3"><%= "Perfil de #{@usuario.name}"%></h2>
		<div class="bg-dark"><br /></div>

		<div class="row offset-1">

			<img src= "<%=@usuario.image%>" class="style_image shadow p-3 mb-5 bg-secondary rounded col-5 "
			height="500px" width="500 px">



			<div class="card text-white bg-dark col-5 offset-1" >
			  <div class="card-header text-center bg-primary"><h5> Datos personales </h5></div>
			  <div class="card-body">
			    	<ul class="card-text text-justify">
						<ul class="card-text text-justify">
			    		<li>Nombre: <%=@usuario.name%></li>
			    		<li>Apellido: <%=@usuario.lastname%></li>
			    		<li>Edad: <%=Date.today.year - @usuario.date_of_birth.year%></li>
			    		<li>Fecha de nacimiento: <%=@usuario.date_of_birth%></li>
			    		<li>Tipo de usuario: <%=UserType.find(@usuario.user_type_id).name%></li>
							<% if (@usuario.user_type_id !=1) && (@usuario.user_type_id != 4) %>
								<li>Creditos disponibles: <%=@usuario.credits%></li>
							<%end%>
			    	</ul>
		  		</div>

		<% if (current_user.user_type_id !=1) && (current_user.user_type_id != 4) %>

		<div class="card-header text-center bg-primary"><h5> Datos de tarjeta</h5></div>
		  <div class="card-body">
		    	<ul class="card-text text-justify">
		    		<li>Marca: <%=@usuario.card_Marca%></li>
		    		<li>Numero: <%=@usuario.card_Number%></li>
		    		<li>Fecha de vencimiento: <%=@usuario.date_venc_month%> de <%=@usuario.date_venc_year%> </li>

		    	</ul>
		  </div>
<%end%>

		</div>
		</div>
<br>
		<div class="row">
			<%if (current_user.user_type_id == @usuario.user_type_id)%>
						<button class="btn btn-lg btn-block btn-white col-2 offset-2 mt-3"><%= link_to "Editar perfil", edit_user_registration_path%></button>
						  <% if (@usuario.user_type_id != 4) %>
						<button class="btn btn-lg btn-block btn-white col-2 offset-1 mt-3"><%= link_to "Mis reservas",  user_reserveList_path(current_user.id)%></button>
						<%end%>
						<button class="btn btn-lg btn-block btn-white col-2 offset-1 mt-3"><%= link_to "Volver", root_path%></button>
			<% else %>
				<button class="btn btn-lg btn-block btn-white col-2 offset-5 mt-3"><%= link_to "Volver", :back%></button>
			<%end%>
		</div>
	</div>
</div>
<% else%>
<div class='text-white mb-3 text-center'>
  <h3> Upss...No puedes estar aqui, mejor regresa </h3>
  </div>

<button class="btn btn-lg btn-block btn-white col-2 offset-5 mt-3"><%= link_to "Volver", :back %></button>
<%end%>
