
<br><br>
<% if (user_signed_in?) %>
	<% if (current_user.user_type_id == 3)%>
		<h3 class="text-white text-center mb-3">¿Seguro que quiere inscribirse a la subasta?</h3>
	  <% elsif (current_user.user_type_id == 2)%>
		  <h3 class="text-white text-center mb-3">¿Seguro que quiere participar de la subasta?</h3>
	  <% end %>
	  <% else %>
	     <% redirect_to new_user_session_path %>
	     <% end %>
<%= form_for [@week,@inscription] do |f|%>
	<div class "form-group">
		<%= f.hidden_field :week_id, value:  @week.id.to_s %>
		<%= f.hidden_field :user_id, value:  current_user.id.to_s %>
		<%= f.submit "Aceptar", class: 'btn btn-primary col-4 offset-4 mt-3' %>
		<button class="btn btn-light col-4 offset-4 mt-3"><%= link_to "Cancelar", :back%></button>
	</div>
 <%end%>
