<% if (user_signed_in?) && (current_user.user_type_id == 4) %>

<div class="container-fluid bg-dark pb-4">
 <div class="alert text-white mb-3 alert-expand-lg bg-dark"><%= devise_error_messages! %>  </div>

          <h2 class="text-white text-center mb-3">Registro</h2>

    <%= form_for @usuario do |f| %>


    <div class="field text-white offset-3 ">
      <h4>Datos personales </h4>
       <div class="bg-dark"><br /></div>
          <div class="form-group">
          <div class="row">
            <div class="col-4 ">
                <div><%= f.label :name, "Nombre"%>
                <%= f.text_field :name,class: 'form-control mb-3', required: true%> </div>
              </div>
             <div class="col-4">
                <div><%= f.label :lastname, "Apellido"%>
                <%= f.text_field :lastname, class: 'form-control mb-3',required: true%> </div>
              </div>
          </div>
          <div class="row">

            <div class="col-4">
              <div><%= f.label :date_of_birth, "Fecha de nacimiento"%></div>
              <div id="sandbox-container">
                <%= f.text_field :date_of_birth, "data-provide" => 'datepicker', class: 'form-control mb-3', required: true %>
              </div>
              <script type="text/javascript">
                $('#sandbox-container input').datepicker({
                    startDate: "-100Y",
                    endDate: "-18Y",
                    language: "es",
                    orientation: "bottom left",
                    calendarWeeks: true,
                    autoclose: true
                });
              </script>
            </div>
          </div>
            <div class="row">
            <div class="col-8">
             <%= f.label :image ,"URL de la imagen",class: 'text-white mb-1'%>
              <%= f.url_field :image, class: 'form-control mb-3', placeholder: "Ingrese el link de su foto ", required: true %></div>
              </div>

            <div class="row">
            <div class="col-4">
            <%= f.input :email,
                        required: true,
                        autofocus: true ,
                        input_html: { autocomplete: "Correo electronico" }%></div>

            <div class="col-4">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "Nueva contraseña" } %></div>
              </div>

             <div class="row">
            <div class="col-8">
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "Confirme su contraseña" } %></div>
          </div>
          </div>

          <div class="form-group row">
           <%f.hidden_field :card_Marca, :value => 'marca'%>
           <%f.hidden_field :cod, :value => '111'%>
           <%f.hidden_field :card_Number, :value => '1111111111111111'%>
           <%f.hidden_field :date_venc_month, :value => 'marzo'%>
           <%f.hidden_field :data_venc_year, :value => '2023'%>

      <div class="form-actions">
        <%= f.button :submit, "Guardar" %>
      </div>
      <% end %>
        <div class="bg-dark"><br /></div>


</div>
</div>
</div>
<%end%>
