<div class="container">
<%= form_for @residence do |f| %>
	
	<div class "form-group">
	<%= f.label :title, "Titulo"%>
	<%= f.text_field :title, class: 'form-control', placeholder: "Ingrese un titulo para la residencia",
	required: true %>
	
	<%= f.label :address, "Direccion"%>
	<%= f.text_field :address, class: 'form-control', placeholder: "Ingrese la direccion de la residencia",
	required: true %>

	<%= f.label :description, "Descripcion"%>
	<%= f.text_area :description, class: 'form-control', placeholder: "Ingrese una descripcion de la residencia",required: true %>
	</div>


	<div "form-group">	
	<%= f.label :country ,"Pais"%>  
	<%=f.collection_select :location_id,Location.all, :id, :country,{}, class:'form-control' %>
	
	<%= f.label :province ,"Provincia"%>  
	<%=f.collection_select :location_id,Location.all, :id, :province,{}, class:'form-control' %>
	
	<%= f.label :locality,"Localidad"%>  
	<%=f.collection_select :location_id,Location.all, :id, :locality,{}, class:'form-control' %>
	
	</div>
	
	<%= f.submit "Publicar", class: 'btn btn-primary btn-sm' %> 
	<%= link_to "Cancelar", residences_path,class: 'btn btn-outline-primary btn-sm' %>

<%end%>