<div class="container-fluid bg-dark pb-4">
  <div class="text-center"> 
      <h2 class="text-white mb-3">Residencias</h2>
  </div>

<table style="table", class="table table-dark">
  <thead >
    <tr>
      <th width "80%"> Residencia </th>
      <th width "100%"> Domicilio </th>
      <th width "100%"> Lugar </th>
      <th colspan="3"> </th>
    </tr>
  </thead>
  <tbody>
    <% @residences.each do |residence| %>
      <tr>
        <td> <%= link_to residence.title, residence_path(residence)%> </td>
        <td><%= residence.address %> </td>
        <td>< aca va el lugar > </td>
        <td><%= link_to "Editar", edit_residence_path(residence), class: 'btn btn-info btn-warning'%> </td>
        <td><%= link_to "Borrar", residence, method: :delete, class: 'btn btn-info btn-danger', 
        data: { confirm: "¿Está seguro de que quiere eliminar la residencia?" } %> </td>

      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <button class="btn btn-block btn-light col-2 mt-3"><%= link_to "Añadir residencia", new_residence_path%></button>
</div>