<div class="container mb-5">
		<%= simple_form_for @sale do |f| %>

				<h5 class="offset-7"><%= f.label "Hora de inicio", class: 'text-white mb-1 '%></h5>


			<div class=" text-white  mb-5">
				<%= f.input :fechaInicio, as: :datetime, label: 'Fecha de inicio' %>


  			<div class="text-white mb-5">

				<h5 class="offset-7"><%= f.label "Hora de fin", class: 'text-white mb-1 '%></h5>

  				<%= f.input :fechaFin, as: :datetime, label: 'Fecha de finalizacion'%>
  			</div>
  			<div class="offset-11">
  				<%= f.button :submit, 'Publicar subasta' %>
  			</div>
		<% end %>
</div>	
<br><br>
