<div class="container mb-5">
		<%= simple_form_for @sale do |f| %>

		<div class="row text-white mb-1">
			<h5 class="col-2"><%= f.label "Fecha de inicio"%></h5>
			<h5 class="col-2 offset-5"><%= f.label "Hora de inicio"%></h5>
		</div>
			<%= f.input :fechaInicio, as: :datetime, label: false %>

		<div class="row text-white mb-1">
  			<h5 class="col-2"><%= f.label "Fecha de fin"%></h5>
			<h5 class="col-2 offset-5"><%= f.label "Hora de fin"%></h5>
		</div>
  			<%= f.input :fechaFin, as: :datetime, label: false%>
  			
  			<div class="offset-11">
  				<%= f.button :submit, 'Publicar subasta' %>
  			</div>
		<% end %>
</div>	
<br><br>
