<div class="container-fluid bg-dark pb-4">
	<div class="text-center"> 
	      <h3 class="text-white mb-3"> Fijar fecha y hora de comienzo de la subasta para la residencia: 
	      	<%= Residence.find(@week.residence_id).title %>, <br>
	      en la semana:
	      	<%= @week.period.strftime('%d/%m/%Y') %>
	      </h3>
	</div>
	<div class="container mb-5">
		<%= form_for [@week,@sale] do |f| %>
			<h5><%= f.label :fechaInicio, "Fecha inicio", class: 'text-white mt-3 mb-1 '%></h5>
			<div class="mb-5" id="sandbox-container">
				<%= f.text_field :fechaInicio, "data-provide" => 'datepicker', class: 'form-control col-2', required: true %>
			</div>
			<script type="text/javascript">
				$('#sandbox-container input').datepicker({
				    startDate: "+1d",
				    endDate: "<%= (@week.period -= 10).strftime('%d/%m/%Y')%>",
				    language: "es",
				    orientation: "bottom left",
				    calendarWeeks: true,
				    autoclose: true
				});
			</script>
			<h5><%= f.label :horaInicio, "Hora inicio", class: 'text-white mb-1 mt-2 '%></h5>
				<%= f.time_select :horaInicio, {:default => {:hour => '0', :minute => '0'}}, class: 'form-control time-select col-3 mb-5', required: true  %>

			<h5><%= f.label :precioBase, "Establecer precio base de la subasta", class: 'text-white mb-1 mt-2 '%></h5>
				<%= f.number_field :precioBase, class: 'form-control col-3 mb-5', min: "0", required: true  %>
<br><br>
			<%= f.submit "Guardar", class: 'btn btn-primary col-1' %>
		<%end%>
	</div>
</div>
